
.header {
  /* height: 8em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between; */

  /* background-color: black; */
  display: flex;
  z-index: 2;
  /* top: -50px; */
  position: fixed;
  width: 100%;
  top: -0.5em;
  justify-content: space-around;
  height:100px;
  /* background-color: red; */
 
}

.bg-color-dark{
background-color:black;
}
.bg-color-light{
  background-color:white;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
